body{
    background-color: darkgrey;
}

.container{
    margin : auto;
    width: 50%;
    height: 760px;
    background-color: black;
    padding: 10px;
}

/* .output{
    background-color: orangered;
    height: 60px;
    margin : 10px;
} */