body{
    background-color: darkgrey;
}

.container{
    margin : auto;
    width: 70%;
    height: 760px;
    background-color: black;
}

/* .output{
    background-color: orangered;
    height: 60px;
    margin : 10px;
} */