body{
    background-color: darkgrey;
}

.container{
    margin : auto;
    width: 50%;
    height: 780px;
    background-color: black;
    padding: 10px;
}

.output{
    background-color: orangered;
    height: 80px;
    margin-bottom: 10px;
}

.buttons{
    display: flex;
}